.home-container {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.data-row {
  display: flex;
}
.data-col {
  flex: 1;
  margin: 2em;
}

.header-col-Name {
  flex: 1;
  margin: 2em;
  font-family: "overpass-bold";
}
.header-col-Username {
  flex: 1;
  margin: 2em;
  font-family: "overpass-bold";
}
.header-col-Email {
  flex: 1;
  margin: 2em;
  font-family: "overpass-bold";
}
@media (max-width: 700px) {
  .header-col-Email {
    display: none;
  }
  .header-col-Address {
    display: none;
  }
  .email {
    display: none;
  }
  .address {
    display: none;
  }
}

.header-col-Address {
  flex: 1;
  margin: 2em;
  font-family: "overpass-bold";
}

.header-row {
  display: flex;
}
.username-nav {
  cursor: pointer;
  border: 0px solid #444444;
  color: white;
  background: #444444;
  border-radius: 0.2em;
  font-family: "overpass-thin";
  text-align: center;
  padding-top: 0.4em;
  height: 2em;
}
.address-container {
  display: flex;
}
.address-title {
  flex: 1;
  font-family: "overpass-bold";
}
.address-text {
  flex: 1;
}
.bookmarked-users {
  text-align: center;
}
.bookmarks-title {
  font-size: 2em;
  font-family: "overpass-bold";
  border-bottom: 0.1em solid #bbbbbb;
}
.header-brand {
  display: flex;
  height: 6em;
}
.page-logo {
  margin-top: auto;
}
.page-title {
  font-size: 3em;
  margin: auto 0 0.6em 1em;
}
