
.home-container{
    display:flex;
    width: auto;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
.row{
    width: 800px;
    margin: 15px;
}

.flex-item{
    /* flex: 0 0 30em; */

}