.home-container {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-title {
  margin: 0.5em;
  font-size: 3em;
}
.data-row {
  display: flex;
}
.data-col {
  flex: 0 0 13em;
  margin: 2em;
}

.header-col {
  flex: 0 0 13em;
  margin: 2em;
  font-family: "overpass-bold";
}
.header-row {
  display: flex;
}
.username-nav {
  cursor: pointer;
  border: 0px solid #444444;
  color: white;
  background: #444444;
  border-radius: 0.2em;
  font-family: "overpass-thin";
  text-align: center;
  padding-top: 0.4em;
  height: 2em;
}
.address-container {
  display: flex;
}
.address-title {
  flex: 1;
  font-family: "overpass-bold";
}
.address-text {
  flex: 1;
}
