.user-detail-container {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user-detail-page-title {
  margin: 0.9em;
  font-size: 3em;
}
.data-row {
  display: flex;
}
.data-col {
  flex: 1;
  margin: 2em;
}

.custom-table {
  width: 100%;
  text-align: center;
}
.header-col {
  flex: 1;
  margin: 2em;
}
.header-row {
  display: flex;
}
.username-nav {
  cursor: pointer;
  border: 0px solid #444444;
  color: white;
  background: #444444;
  border-radius: 0.2em;
  font-family: "overpass-thin";
  text-align: center;
  padding-top: 0.4em;
  height: 2em;
}
.address-container {
  display: flex;
}
.address-title {
  flex: 1;
  font-family: "overpass-bold";
}
.address-text {
  flex: 1;
}
.key {
  font-family: "overpass-bold";
  flex: 1;
}
.value {
  margin-left: auto;
  flex: 1;
}
.text-container {
  display: flex;
  margin: 0 0 0.4em 0;
}
.user-detail-card {
  margin: 1.1em;
}
.breadcrumb-container {
}
.custom-card-override {
  min-width: 30em !important;
}
@media (max-width: 450px) {
  .text-container {
    text-align: center;
  }
  .custom-card-override {
    min-width: inherit !important;
  }
  .key {
    display: none;
  }
  .address-title {
    display: none;
  }
  .address-text {
    text-align: center;
  }
  .user-detail-page-title {
    margin: 1.3em;
    font-size: 2em;
  }
}

.bs-container {
  margin: 0.3em;
}
.bookmark-button {
  margin-left: auto !important;
}
.user-title {
  margin: 0 0 0.9em 0;
  display: flex !important;
}
