.user-detail-container {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-title {
  margin: 0.5em;
  font-size: 3em;
}
.data-row {
  display: flex;
}
.data-col {
  flex: 0 0 13em;
  margin: 2em;
  /* border: 1px solid black; */
}

.custom-table {
}
.header-col {
  flex: 0 0 13em;
  margin: 2em;
  /* border: 1px solid black; */
}
.header-row {
  display: flex;
}
.username-nav {
  cursor: pointer;
  border: 0px solid #444444;
  color: white;
  background: #444444;
  border-radius: 0.2em;
  font-family: "overpass-thin";
  text-align: center;
  padding-top: 0.4em;
  height: 2em;
}
.user-title {
  margin: 0 0 0.4em 0;
}
.address-container {
  display: flex;
}
.address-title {
  flex: 1;
  font-family: "overpass-bold";
}
.address-text {
  flex: 1;
}
.key {
  font-family: "overpass-bold";
  flex: 1;
}
.value {
  margin-left: auto;
  flex: 1;
}
.text-container {
  display: flex;
  margin: 0 0 0.4em 0;
}
.user-detail-card {
  margin: 1.1em;
}
.breadcrumb-container {
}
.custom-card-override {
  min-width: 30em !important;
}
.bs-container {
  margin: 0.3em;
}
