/* Use vanilla CSS
● The hover state should look the same as the active.
● The component should be modular and expandable.
● It should be responsive.
● The font is Overpass
● Colors are:
○ red #c00 and #470000
○ gray #bbb and #ededed */

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.panel-container {
  font-family: "overpass-regular";
  margin: 4em;
  background: white;
  border: solid 0;
  border-radius: 0.2em;
  -webkit-box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.37);
}

.nav-container {
  display: flex;
  height: 3.5em;
  background-image: linear-gradient(to bottom, #cc0000, #470000);
  border: solid 0;
  border-radius: 0.2em 0.2em 0 0;
  -webkit-box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.37);
}
.nav-title {
  color: white;
  font-size: 17px;
  margin: 1em 0 0 1em;
}
.nav-items {
  display: flex;
  margin-left: auto;
  color: white;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}
.nav-item {
  flex: 1;
  width: 5em;
  height: 100%;
  cursor: pointer;
}
.active-nav-item {
  flex: 1;
  width: 5em;
  height: 100%;
  cursor: pointer;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.nav-item:hover {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.nav-text {
  text-align: center;
  padding-top: 15px;
}
.content-container {
  margin: 2em;
}
.header-text {
  font-size: 25px;
  font-family: "overpass-bold";
  margin: 1em 0;
}

.fields-container {
  margin: 2em 0em;
  padding: 0em 0em 2em 0em;
}
.bookmark-button {
  font-size: 0.8em;
  padding: 0.9em;
}
